.segmentsDisplay.Led {
	margin-bottom: 0;
}

.segmentsDisplay{
	position: relative;
	margin-right: 24px;
	float: left;
}

.segmentsDisplay div.segment-x,
.segmentsDisplay div.segment-y {
	position: absolute;
}

.segmentsDisplay span.segmentBorder {
	display: block;
	position: absolute;
}

.segmentsDisplay.Led {
	width: 122px;
	height: 220px;
}

.segmentsDisplay.Led .segment-x {
	width: 72px;
	left: 13px;
	border-bottom: 12px solid #a8d8f8;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.segmentsDisplay.Led .segment-x .segmentBorder {
	top: 12px;
	left: -12px;
	right: -12px;
	border-top: 12px solid #a8d8f8	;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.segmentsDisplay.Led .segment-y {
	height: 72px;
	width: 0;
	border-right: 12px solid #a8d8f8;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.segmentsDisplay.Led .segment-y .segmentBorder {
	position: relative;
	left: 12px;
	height: 72px;
	margin-top: -12px;
	border-left: 12px solid #a8d8f8;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
}

.segmentsDisplay.Led .segment-1 {
	top: 0;
}

.segmentsDisplay.Led .segment-2 {
	top: 13px;
	left: 98px;
}

.segmentsDisplay.Led .segment-3 {
	top: 111px;
	left: 98px;
}

.segmentsDisplay.Led .segment-4 {
	top: 196px;
}

.segmentsDisplay.Led .segment-5{
	top: 111px;
	left: 0px;
}

.segmentsDisplay.Led .segment-6{
	top: 13px;
	left: 0px;
}

.segmentsDisplay.Led .segment-7 {
	top: 98px;
}

#ledSegmentsModule {
	position: absolute;
	left: calc(50%-457px);
	width: 924px;
	height: 220px;
}

/* #ledSegmentsModule .segmentsDisplay:last-child {
margin: 0;
}

#ledSegmentsModule:after {
	content: '.';
	visibility: hidden;
	clear: both;
}display: block; */